<a href="https://colab.research.google.com/github/NatanaelSSilva/Arquivos-Mackenzie/blob/master/Atividade_Trilha_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

**Atividade trilha 4**

Nome: Natanael de Souza Silva

Arquivo no Gallup World: **Proporção de pessoas que veem as mudanças climáticas como uma ameaça um tanto séria.**

Esta é a proporção de pessoas que dizem que as mudanças climáticas são uma ameaça muito séria quando fazem a seguinte pergunta no Gallup World. Enquete: "Você acha que a mudança climática é uma ameaça muito séria, uma ameaça um tanto séria, ou nenhuma ameaça para as pessoas neste povo neste país nos próximos 20 anos?

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/NatanaelSSilva/Arquivos-Mackenzie/master/cc_vser_t_per.csv')

In [ ]:
df.info

<bound method DataFrame.info of                   country  2018  2019  2020
0             Afghanistan  36.8   NaN  36.6
1                 Albania  54.4   NaN  63.9
2    United Arab Emirates  26.3   NaN  28.0
3               Argentina  74.1   NaN  70.7
4                 Armenia  37.1   NaN  39.1
..                    ...   ...   ...   ...
138               Vietnam  63.2   NaN  66.9
139                 Yemen  15.1   NaN   NaN
140          South Africa  59.6   NaN  47.7
141                Zambia  66.7   NaN  51.7
142              Zimbabwe  61.6   NaN  50.1

[143 rows x 4 columns]>

 * **Qual a quantidade de linhas e colunas do df**?

In [ ]:
df.shape

(143, 4)

* **Quais são os 5 primeiros paises com porcentagem acima de 70%, em que 2018 a população considera o clima ameaçável daqui 20 anos?**

In [ ]:
df.loc[(df['2018'])>70,['country','2018']].head()

       country  2018
3    Argentina  74.1
17      Brazil  71.4
21       Chile  86.9
26    Colombia  74.9
27  Costa Rica  80.9

* **Quais são os 5 ultimos paises que possuem a porcentagem abaixo de 30%, que em 2018 a população considera o clima ameaçável daqui 20 anos?**

In [ ]:
df.loc[(df['2018'])<30,['country','2018']].tail()

          country  2018
86        Myanmar  20.4
109     Palestine  28.9
113  Saudi Arabia  20.7
136    Uzbekistan  22.7
139         Yemen  15.1

* **Quais são os 5 primeiros paises com porcentagem acima de 70%, que em 2020 a população considera o clima ameaçável daqui 20 anos?**

In [ ]:
df.loc[(df['2020'])>70,['country','2020']].head()

       country  2020
3    Argentina  70.7
16     Bolivia  73.7
17      Brazil  77.3
21       Chile  86.3
27  Costa Rica  74.0

* **Quais são os 5 ultimos paises que possuem a porcentagem abaixo de 30%, que em 2020 a população considera o clima ameaçável daqui 20 anos?**

In [ ]:
df.loc[(df['2020'])<30,['country','2020']].tail()

          country  2020
70            Lao  24.4
71        Lebanon  25.4
86        Myanmar  21.6
113  Saudi Arabia   8.5
136    Uzbekistan  25.6

* **Qual foi o resultado do Brasil em 2018 e 2020?**

In [ ]:
df.loc[(df['country'])=='Brazil',['country','2018','2020']]

   country  2018  2020
17  Brazil  71.4  77.3

 * **Qual a varição entre os anos de 2020 e 2018 para os primeiros paises?**

Objetivo: verificar qual foi a variação da resposta da população entre os 2 anos.

In [ ]:
df.groupby('country')['2020'].sum().head() / df.groupby('country')['2018'].sum().head()-1

country
Afghanistan   -0.005435
Albania        0.174632
Algeria        0.258065
Argentina     -0.045884
Armenia        0.053908
dtype: float64

**Conclusão**

Podemos observar que em apenas dois anos não houve tantas mudanças, alguns paises até dimunindo a reapostas da relação do impacto climatico daqui 20 anos. Já se a pesquisa obter dados dos proximos anos, vamos conseguir analisar se realmente pode está acontecendo essa mudança climatica dentro dos 20 anos realizado na pesquisa de 2018.

Link do arquivo Google Colab: https://colab.research.google.com/drive/1leThnTvsCbIwDkdC49GR6QESMpd_rt26#scrollTo=CVx1cDCqPvxc

Link do arquivo Git Hub: